h3{
    color:#8A8A8A;
}

.start-button, .next-button {
    position: absolute !important;
    bottom: 20px;
    right: 5px;
}

.btn-primary2 {
    background-color: #39AE77;
    border-color: #087135;
    color: #FFFFFF;
}

.correct-answer{
    background:#97FF82;
}

.incorrect-answer{
    background:#FF8282;
}

#startQuizTitle, #startQuizPinText, #startQuizPin{
    text-align: center;
}

#startQuizTitle, #startQuizPin{
    font-size: 50pt;
    margin-bottom:50px;
}

#startQuizPin{
    margin-bottom:150px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

#startQuizPinText{
    color:#8A8A8A;
}

#footer{
    height: 50px;
    width:100%;
}
