h3{
    color:#8A8A8A;
}

.start-button, .next-button {
    float:right;
}

.btn-primary2 {
    background-color: #39AE77;
    border-color: #087135;
    color: #FFFFFF;
}

.correct-answer{
    background:#97FF82;
}

.incorrect-answer{
    background:#FF8282;
}

/* even table rows background to be no */
.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #fcfcfc;
}

/* remove top border of table columns */
.table > tbody > tr > td {
    border-top: none;
}

.btn {
    border: none;
    border-radius: 0;
}

.searchtext {
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: auto;
}

.searchtext:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(102, 175, 233, .6);
}

.dropdown-menu {
    border-radius: 0;
    margin: 0;
    border: none;
}

.navbar-default {
    border-color: transparent;
}

.block-link {
    display: block;
    line-height: inherit;
}

.modal-content {
    border-radius: 0;
    box-shadow: none;
}

.form-control {
    border-radius: 0;
}

.form-control:focus {
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 3px rgba(102,175,233,0.6);
}

.navbar {
    margin-bottom: 0;
}

.breadcrumb {
    background-color: #fbfbfb;
}

.table-middle > tbody > tr > td {
    vertical-align: middle;
}

.disabled-cursor {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

/* start quiz css redesign */
#startQuizTitle, #startQuizPinText, #startQuizPin{
    text-align: center;
}

#startQuizTitle, #startQuizPin{
    font-size: 50pt;
    margin-bottom:50px;
}

#startQuizPin{
    margin-bottom:150px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

#startQuizPinText{
    color:#8A8A8A;
}

#footer{
    height: 50px;
    width:100%;
}
