.wrapper{
    padding: 5% 0;
}

.bg-red{
    background:#FF8282;
}

.bg-green{
    background:#97FF82;
}

.bg-blue{
    background:#ABAEFF;
}

.bg-yellow{
    background:#FBFF82;
}

.correct-answer{
    background:#97FF82;
}

.incorrect-answer{
    background:#FF8282;
}

#enterQuizPanel {

    padding: 10% 0;
    width: 300px;
    height: 300px;

}

#enterNamePanel {

    padding: 10% 0;
    width: 300px;
    height: 300px;

}

#waitingPanel {

    text-align: center;
    padding: 10% 0;
    width: 300px;
    height: 300px;

}

#loadingGif {

    text-align: center;
    padding: 20%;

}

#endQuizPanel{

    padding: 10% 0;
    min-width: 300px;
    max-width: 1200px;
}

#questionPanel{

    padding: 10% 0;
    min-width: 300px;
    max-width: 1200px;
}

#websocketErrorPanel {
    padding: 10% 0;
    min-width: 300px;
    max-width: 1200px;
}

#websocketErrorPanel h1 {
    margin-bottom: 25px;
}

#websocketErrorPanel p{
    color: #ff0000;
}

.answer {
    text-align: center;
    margin:0;
    cursor: pointer;
}

.answer:hover{
    background-color: #66b6f0;
    color: #fff;
    border: none;
    box-shadow: 0px 3px 15px #66b6f0;
}

.logoTimer{
    text-align: center;
    margin-bottom: 30px;
}

.logoTimer img{
    margin-bottom: 10px;
}

#questionTitle{
    text-align: center;
    color: #999999;
}

#questionBody{
    text-align: center;
    font-size: 2em; margin-bottom: 2em;
}

#question-answers tr td{
    vertical-align:middle;
}

#questionAnswers, #questionTime{
    float:left;
    font-size: 20pt;
    color:#8A8A8A;
}

#questionTime{
    margin-left:40px;
}

#next-button{
    margin-top:5px;
}

.clickedAnswer{
    border:none !important;
    border-radius:0px;
    background:#efefef !important;
    padding:10px;
}

/*
 * Abstand zur zweiten Reihe der Antwortmöglichkeiten hinzugefügt
 */
.clearfix{
    margin-bottom: 25px;
}

@media all and (max-width: 991px) {

    .clearfix{
        margin-bottom: 0;
    }

    .answer{
        margin: 0 0 25px 0;
    }
}