.wrapper{
    padding: 5% 0;
}

#enterQuizPanel {

    padding: 10% 0;
    width: 300px;
    height: 300px;

}

#quizPinBtn {
    margin-top: 5%;
}

#enterNamePanel {

    padding: 10% 0;
    width: 300px;
    height: 300px;

}

#enterNameBtn {
    margin-top: 5%;
}

#waitingPanel {

    padding: 10% 0;
    width: 300px;
    height: 300px;

}

#endQuizPanel{

    padding: 10% 0;
    min-width: 300px;
    max-width: 1200px;
}

#questionPanel {

    padding: 10% 0;
    min-width: 300px;
    max-width: 1200px;
}

.answer {
    text-align: center;
    margin:0;
    cursor: pointer;
}

.answer:hover{
    background-color: #66b6f0;
    color: #fff;
    border: none;
    box-shadow: 0px 3px 15px #66b6f0;
}

.logoTimer{
    text-align: center;
    margin-bottom: 30px;
}

.logoTimer img{
    margin-bottom: 10px;
}

#questionPanel .progress{
    max-width: 300px;
}

#answerA{
    background:#8286FF;
}

#answerB{
    background:#97FF82;
}

#answerC{
    background:#FF8282;
}

#answerD{
    background:#FBFF82;
}

/*
 * Abstand zur zweiten Reihe der Antwortmöglichkeiten hinzugefügt
 */
.clearfix{
    margin-bottom: 25px;
}

@media all and (max-width: 991px) {

    .clearfix{
        margin-bottom: 0;
    }

    .answer{
        margin: 0 0 25px 0;
    }
}