.correct-answer{
    background:#97FF82;
}

.incorrect-answer{
    background:#FF8282;
}

.bg-red{
    background:#FF8282;
}

.bg-green{
    background:#97FF82;
}

.bg-blue{
    background:#ABAEFF;
}

.bg-yellow{
    background:#FBFF82;
}

.clickedAnswer{
    border:none !important;
    background:#efefef !important;
}