.bg-red{
    background:#FF8282;
}

.bg-green{
    background:#97FF82;
}

.bg-blue{
    background:#ABAEFF;
}

.bg-yellow{
    background:#FBFF82;
}

.correct-answer{
    background:#97FF82;
}

.incorrect-answer{
    background:#FF8282;
}

.clickedAnswer{
    border:none !important;
    border-radius:0px;
    background:#efefef !important;
    padding:10px;
}


#questionTitle{
    text-align: center;
    color: #999999;
}

#questionBody{
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.5em;
    word-wrap:break-word;
}

#question-answers tr td{
    vertical-align:middle;
}

#questionAnswers, #questionTime{
    float:left;
    font-size: 20pt;
    color:#8A8A8A;
}

#questionTime{
    margin-left:40px;
}

#next-button{
    margin-top:5px;
}

.result {
    margin-top: 70px;
}

.axis path, .axis line
{
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text.axisText{
    font-size: 1.5em;
}

.axis text
{
    font-family: 'Arial', sans-serif;
    font-size: 1em;
}
.tick
{
    stroke-dasharray: 1, 2;
}
.bar
{
    fill: steelblue;
}

.bar:hover{
    fill: brown;
}