#enterQuizPanel {
    width: 300px;
    height: 300px;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

}

#quizPinBtn {
    margin-top: 5%;
}

#enterNamePanel {
    width: 300px;
    height: 300px;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

}

#enterNameBtn {
    margin-top: 5%;
}

#waitingPanel {
    width: 300px;
    height: 300px;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

}